@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
body {
    background-image: url('./aesthetic-minimal-cute-pastel-pink-wallpaper-illustration-perfect-for-wallpaper-backdrop-postcard-background-banner-vector.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 5%;
}

.spl, h3 { 
    font-family: 'Playwrite NG Modern', cursive !important;
}
.chat {
    display: box;
    margin-top: 10%;
    height: 400px;
    background: linear-gradient(to right, rgb(224, 101, 228), rgb(234, 76, 102));
    padding: 4%;
}
.chat h3, h5 {
    margin: 5% !important;
    color: white !important;
    font-family: 'Montserrat', sans-serif !important;
}

.chat button {
    margin-left: -0.5%;
}

input {
    margin-left: 5%;
}

.container {
    display: box;
    opacity: 0.8;
}

h2, h3, h4, h5, p, div {
    font-family: 'Montserrat', sans-serif;
    color: rgb(179, 0, 81);
    margin-bottom: 5%;
}

h2 {
    margin-bottom: 5%;
    margin-top: 5%;
}

h2, h3 {
    font-weight: 600;
}

button {
    margin-left: 10%;

}

.btn {
    background-color: rgb(234, 56, 139) !important;
    color: white !important;
    border: 0px !important;
}

.btn:hover {
    background-color: white !important;
    color:rgb(234, 56, 169) !important;
}

li {
    margin-bottom: -3%;
}

ul {
    list-style-type: none;
}

